@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Arial', sans-serif;
  --color-purple: #7662ea;
  --color-black: #333333;
  --color-neutral: #eceff3;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral);
  color: var(--color-black);
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide {
  min-width: 33%;
  height: 150px;
  scroll-snap-align: center;
  flex-shrink: 0;
}