@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Arial', sans-serif;
  --color-purple: #7662ea;
  --color-black: #333333;
  --color-neutral: #eceff3;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral);
  color: var(--color-black);
}